---
import Header from "./Header.astro";
const { t, lang = 'en' } = Astro.props;
---

<div
    class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden"
    style='font-family: Inter, "Noto Sans", sans-serif;'
>
    <div class="layout-container flex h-full grow flex-col">
        <Header t={t} lang={lang} />
        <div class="px-4 sm:px-8 lg:px-40 flex flex-1 justify-center py-5">
            <div
                class="layout-content-container flex flex-col max-w-[960px] flex-1"
            >
                <div class="flex p-4 @container">
                    <div class="flex w-full flex-col gap-4 items-center">
                        <div class="flex gap-4 flex-col items-center">
                            <div
                                class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                                style='background-image: url("/me.png");'
                            >
                            </div>
                            <div
                                class="flex flex-col items-center justify-center justify-center"
                            >
                                <p
                                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] text-center"
                                >
                                    {t.profileName}
                                </p>
                                <p
                                    class="text-[#6a7681] text-base font-normal leading-normal text-center"
                                >
                                    {t.role}
                                </p>
                                <p
                                    class="text-[#6a7681] text-base font-normal leading-normal text-center"
                                >
                                    {t.profileDesc}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    {t.aboutTitle}
                </h2>
                <p
                    class="text-[#121416] text-base font-normal leading-normal pb-3 pt-1 px-4"
                >
                    {t.aboutDesc1}
                </p>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    {t.skillsTitle}
                </h2>
                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[0]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[1]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[2]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[3]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[4]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[5]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[6]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[7]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[8]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.skills[9]}
                        </p>
                    </div>
                </div>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    {t.toolsTitle}
                </h2>
                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[0]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[1]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[2]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[3]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[4]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[5]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[6]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[7]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[8]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[9]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[10]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.tools[11]}
                        </p>
                    </div>
                </div>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    {t.methodologiesTitle}
                </h2>
                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.methodologies[0]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.methodologies[1]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.methodologies[2]}
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            {t.methodologies[3]}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
